<div class="container">
	<div class="row">
		<a href="<%= new_billing_path %>">
			<button class="btn btn-primary btn-large">New Billing</button>
		</a>
		<a href="<%= billings_path(current_user) %>">
			<button class="btn btn-primary btn-large">My Billings</button>
		</a>
		<a href="#">
			<button class="btn btn-primary btn-large">My Debts</button>
		</a>
	</div>
</div>