<div class="container">
	<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Value</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<%= render 'billings' %>
			</table>
	</div>
</div>